*~
*.suo
*.user
*.userprefs
*.pyc
*.pyo
__pycache__
*.rej
.*.swp
*.csproj.DotSettings
.DS_Store
[Tt]humbs.db
.idea
.vs
.vscode
output/
bin/
obj/
packages/
.out/
test.out/
NugetPackages/

node_modules
!support/**/node_modules


# DIRECTORY-SPECIFIC IGNORES

AppPatient/merges/**
AppPatient/platforms/**
AppPatient/plugins/**
AppPatient/platform.bak
AscWeb/wwwroot/bundles
AscEmrEtlTest/files/logs
AscEmrEtlTest/files/output
AscEmrEtlTest/files/processed
support/https